* {
    color: #000;
    font-family:'Overpass', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.landing {
    margin-top: 70px;
}

.navbar.navbar-dark .nav-item .nav-link { 
    color: #000!important; 
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #000!important; 
}

.navbar {
    background-color: #fff;
}

h1 {
    font-size: 33px;
}

h2 {
    font-size: 1.5em;
}

.author {
    font-size: 12px;
}

.date {
    font-size: 12px;
}

.article-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    color: #000;
    background-color: #fff;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 10px;
    margin-top: 15px;
}

.img {
    width: 100%;
}

.image-fluid {
    border-radius: 10px;
    height: 18em;
}

.card-title {
    color: #ff4a00;
}

.cardfooter {
    padding: 0.75rem 1.25rem;
    padding-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}

.article-body {
    margin-bottom: 30px;
    height: 550px;
}

.article-name{
    color: #ff4a00;
}

.source {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}