{% extends 'base.html' %}

{% block content %}

<div class="container-fluid landing">
    <div class="row">
        {% for source in newsSource %}
            <div class="col-md-3 d-flex justify-content-center source-body">
                <div class="card bg-dark">
                    <div class="card-body">
                        <a href="{{ source.url }}" target="_blank">
                            <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"></path></svg> {{ source.name }}</h5>
                            <p class="card-text">{{ source.description }}</p>
                        </a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}